<div class="modal-header">
  <h4 class="modal-title" id="modal-title">User Inactive</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>You have been inactive for {{time}} minute. To continue please click continue or login again</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.close()">Continue</button>
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</div>
